build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/androidx/appcompat/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/cardview/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/constraintlayout/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/legacy/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/lifecycle/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/multidex/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/recyclerview/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/room/group-index.xml
build/intermediates/lint-cache/maven.google/androidx/vectordrawable/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/com/google/android/gms/group-index.xml
build/intermediates/lint-cache/maven.google/com/google/android/material/group-index.xml
build/intermediates/lint-cache/maven.google/com/google/firebase/group-index.xml
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
WeCare2.iml
.gradle/5.2.1/gc.properties
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/codeStyles/Project.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_beta01_jar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_alpha04_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_alpha04_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_alpha01_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_rc01_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_browser_browser_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_beta01_jar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_0_0_alpha02_jar.xml
.idea/libraries/Gradle__androidx_concurrent_concurrent_futures_1_0_0_beta01_jar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_1_0_alpha05_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_2_0_alpha01_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_adapters_3_4_2_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_3_4_2_jar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_3_4_2_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_alpha04_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_rc01_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_0_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_alpha04_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_alpha04_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_instrumentation_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_selection_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_room_room_runtime_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_alpha02_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_0_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_0_1_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_alpha01_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_alpha01_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_rc01_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_alpha02_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_alpha06_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__artifacts_FORTSDKv1_5_unspecified_jar.xml
.idea/libraries/Gradle__com_afollestad_material_dialogs_core_0_9_6_0_aar.xml
.idea/libraries/Gradle__com_amitshekhar_android_android_networking_1_0_1_aar.xml
.idea/libraries/Gradle__com_amitshekhar_android_rx2_android_networking_1_0_1_aar.xml
.idea/libraries/Gradle__com_daimajia_androidanimations_library_2_3_aar.xml
.idea/libraries/Gradle__com_daimajia_numberprogressbar_library_1_4_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_android_sdk_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_applinks_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_common_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_core_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_login_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_messenger_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_places_5_8_0_aar.xml
.idea/libraries/Gradle__com_facebook_android_facebook_share_5_8_0_aar.xml
.idea/libraries/Gradle__com_github_Ilhasoft_data_binding_validator_2_0_0_aar.xml
.idea/libraries/Gradle__com_github_jkwiecien_EasyImage_2_1_1_aar.xml
.idea/libraries/Gradle__com_github_joielechong_countrycodepicker_2_2_0_aar.xml
.idea/libraries/Gradle__com_github_mirrajabi_search_dialog_1_2_3_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_auth_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_auth_api_phone_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_auth_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_location_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_places_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_places_placereport_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_1_0_alpha08_aar.xml
.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_3_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5_jar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_2_20_aar.xml
.idea/libraries/Gradle__com_google_dagger_dagger_android_support_2_20_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_18_1_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_18_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_18_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_core_17_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_19_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_18_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_messaging_19_0_1_aar.xml
.idea/libraries/Gradle__com_google_guava_listenablefuture_1_0_jar.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1_jar.xml
.idea/libraries/Gradle__com_google_zxing_core_3_3_3_jar.xml
.idea/libraries/Gradle__com_jakewharton_timber_timber_4_5_1_aar.xml
.idea/libraries/Gradle__com_jaredrummler_android_device_names_1_1_9_aar.xml
.idea/libraries/Gradle__com_mindorks_nybus_nybus_android_1_0_0_aar.xml
.idea/libraries/Gradle__com_mindorks_placeholderview_0_6_1_aar.xml
.idea/libraries/Gradle__com_nispok_snackbar_2_11_0_aar.xml
.idea/libraries/Gradle__com_parse_bolts_bolts_android_1_4_0_jar.xml
.idea/libraries/Gradle__com_parse_bolts_bolts_applinks_1_4_0_jar.xml
.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar.xml
.idea/libraries/Gradle__com_shamanland_fonticon_0_1_8_aar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_1_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_1_0_jar.xml
.idea/libraries/Gradle__com_twitter_sdk_android_twitter_core_3_1_1_aar.xml
.idea/libraries/Gradle__com_victor_lib_1_0_1_aar.xml
.idea/libraries/Gradle__com_wdullaer_materialdatetimepicker_4_1_2_aar.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_10_jar.xml
.idea/libraries/Gradle__de_cketti_mailto_email_intent_builder_1_0_0_aar.xml
.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_0_0_aar.xml
.idea/libraries/Gradle__dev_ahamed_mva2_adapter_2_0_0_alpha01_aar.xml
.idea/libraries/Gradle__io_michaelrocks_libphonenumber_android_8_9_14_aar.xml
.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_0_1_aar.xml
.idea/libraries/Gradle__me_zhanghai_android_materialprogressbar_library_1_4_2_aar.xml
.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk16_1_46_jar.xml
.idea/libraries/Gradle__uk_co_chrisjenx_calligraphy_2_2_0_aar.xml
